.root {
    text-align: center;
    margin-bottom: 35px;
}
.clientBox {
    position: relative;
    padding: 10px;
    margin: 0 20px;
    &::before {
        position: absolute;
        content: "";
        height: 95%;
        right: -33px;
        bottom: 8px;
        width: 1px;
        border-right: 1px solid #d2d2d2;
    }
    &::after {
        position: absolute;
        content: "";
        width: 104%;
        bottom: -10px;
        height: 1px;
        border-bottom: 1px solid #d2d2d2;
        left: 8px;
    }
    &:hover p {
        transform: translateX(12px);
        opacity: 1;
    }
}
.logo {
    height: 120px;
    width: 120px;
    transform: translateX(12px);
    &:hover {
        transform: translateX(12px) scale(1.14);
        transition: 0.5s;
    }
}
.location {
    font-size: 11px;
    text-align: right;
    margin-top: 5px;
    transition: all 1s;
    opacity: 0;
    color: #150941;
}

.borderRight {
    &::before {
        border-right: none !important;
    }
}
.borderBottom {
    &::after {
        border-bottom: none !important;
    }
}
